<h1>Choose a Tamagotchi Friend</h1>

<form action="/items" method="post">
  <label for="name">Choose a name for your Tamagotchi friend</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>