@using Tama.Models;

<h1>Tamagotchi Stats</h1>
<ul>
  <li>@Model.Name</li>
  <li>@Model.Food</li>
  <li>@Model.Mood</li>
  <li>@Model.Sleep</li>
</ul>

<!-- <form action="/tamagotchi/feed" method="post">
  <button type="hidden">Feed</button>
</form>

<form action="/tamagotchi/sleep" method="post">
  <button type="hidden">Rest</button>
</form>
<form action="/tamagotchi/mood" method="post">
  <button type="hidden">Play</button>
</form> -->

<!-- -->
